body {
    background-color: lightblue;
    margin: 0;
    text-align: center;
  }

  nav {
   background-color: black;
   width: 100%;
   color: white;
   height: 50px;
   padding-top: 25px;
  }

  h1 {
   color: black;
  }

  footer {
   background-color: gray;
   color: white;
   padding: 5px;
  }